
@import 'bourbon/bourbon';


// body {
//   background: #fafafa;
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   color: #333;
// }

// .hero-unit {
//   margin: 50px auto 0 auto;
//   width: 600px;
//   font-size: 18px;
//   font-weight: 200;
//   line-height: 30px;
//   background-color: #eee;
//   border-radius: 6px;
//   padding: 60px;
//   h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
//   }
// }

.wrapper {
  background-color: #fff;
  font-family: Helvetica,sans-serif;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}

.accordion {
  width: 100%;

}

.segment {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #00A3B4;
}

.accordHead {
  width: 100%;
  color: white;
  background-color: #13C7D6;
  border: 1px solid #00A3B4;
  margin: 0 auto;
  text-align: center;
}

.accordBody {
  width: 100%;
  color: #616467;
  background-color: white;
  border: 1px solid #00A3B4;
  margin: 0 auto;
  text-align: left;
  text-indent: 35px;
}

